.e-con.e-flex>.e-con-inner {
    flex-wrap: var(--flex-wrap);
    justify-content: var(--justify-content);
    align-items: var(--align-items);
    align-content: var(--align-content);
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
    align-self: auto;
}
.e-con-full.e-flex, .e-con.e-flex>.e-con-inner {
    flex-direction: var(--flex-direction);
}
.e-con>.e-con-inner {
    gap: var(--gap);
    width: 100%;
    max-width: var(--content-width);
    margin: 0 auto;
    padding-inline: 0;
    height: 100%;
}
.e-con, .e-con>.e-con-inner {
    display: var(--display);
}
.e-con-full, .e-con>.e-con-inner {
    text-align: var(--text-align);
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
}

.elementor *, .elementor :after, .elementor :before {
    box-sizing: border-box;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
.elementor-295 .elementor-element.elementor-element-67cce90.e-con {
    --flex-grow: 0;
    --flex-shrink: 0;
}





.elementor-295 .elementor-element.elementor-element-67cce90 {
    --display: flex;
    --min-height: 100vh;
    --flex-direction: row;
    --container-widget-width: calc((1 - var(--container-widget-flex-grow))*100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --justify-content: center;
    --align-items: center;
    --gap: 0px;
    --background-transition: .3s;
    --margin-top: 0rem;
    --margin-right: 0rem;
    --margin-bottom: 0rem;
    --margin-left: 0rem;
    --padding-top: 7em;
    --padding-right: 0em;
    --padding-bottom: 0em;
    --padding-left: 0em;
}

:is(.elementor-section-wrap,[data-elementor-id])>.e-con {
    --margin-right: auto;
    --margin-left: auto;
    max-width: min(100%,var(--width));
}
.e-con.e-flex {
    --flex-direction: column;
    --flex-basis: auto;
    --flex-grow: 0;
    --flex-shrink: 1;
    flex: var(--flex-grow) var(--flex-shrink) var(--flex-basis);
}

.elementor-element {
    --widgets-spacing: 20px;
}
.e-con {
    --container-max-width: 1250px;
}
.elementor-element, .elementor-lightbox {
    --swiper-theme-color: #000;
    --swiper-navigation-size: 44px;
    --swiper-pagination-bullet-size: 6px;
    --swiper-pagination-bullet-horizontal-gap: 6px;
}
.e-con-boxed {
    text-align: initial;
    gap: initial;
}
.e-con {
    --border-radius: 0;
    --border-width-top: 0px;
    --border-width-right: 0px;
    --border-width-bottom: 0px;
    --border-width-left: 0px;
    --border-style: initial;
    --border-color: initial;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --content-width: Min(100%,var(--container-max-width,1140px));
    --width: 100%;
    --min-height: initial;
    --height: auto;
    --text-align: initial;
    --margin-top: 0;
    --margin-right: 0;
    --margin-bottom: 0;
    --margin-left: 0;
    --padding-top: var(--container-default-padding-top,10px);
    --padding-right: var(--container-default-padding-right,10px);
    --padding-bottom: var(--container-default-padding-bottom,10px);
    --padding-left: var(--container-default-padding-left,10px);
    --position: relative;
    --z-index: revert;
    --overflow: visible;
    --gap: var(--widgets-spacing,20px);
    --overlay-mix-blend-mode: initial;
    --overlay-opacity: 1;
    --overlay-transition: .3s;
    --e-con-grid-template-columns: repeat(3,1fr);
    --e-con-grid-template-rows: repeat(2,1fr);
    position: var(--position);
    width: var(--width);
    min-width: 0;
    min-height: var(--min-height);
    height: var(--height);
    border-radius: var(--border-radius);
    margin: var(--margin-top) var(--margin-right) var(--margin-bottom) var(--margin-left);
    padding-left: var(--padding-left);
    padding-right: var(--padding-right);
    z-index: var(--z-index);
    overflow: var(--overflow);
    transition: background var(--background-transition,.3s),border var(--border-transition,.3s),box-shadow var(--border-transition,.3s),transform var(--e-con-transform-transition-duration,.4s);
}
.elementor-element {
    --flex-direction: initial;
    --flex-wrap: initial;
    --justify-content: initial;
    --align-items: initial;
    --align-content: initial;
    --gap: initial;
    --flex-basis: initial;
    --flex-grow: initial;
    --flex-shrink: initial;
    --order: initial;
    --align-self: initial;
    flex-basis: var(--flex-basis);
    flex-grow: var(--flex-grow);
    flex-shrink: var(--flex-shrink);
    order: var(--order);
    align-self: var(--align-self);
}
.elementor-kit-69 {
    --e-global-color-primary: #033b4a;
    --e-global-color-secondary: #4c4c4d;
    --e-global-color-text: #20c997;
    --e-global-color-accent: #ecf0f3;
    --e-global-color-2939a30: #252b33;
    --e-global-typography-primary-font-family: "Poppins";
    --e-global-typography-primary-font-size: 16px;
    --e-global-typography-primary-font-weight: 400;
    --e-global-typography-secondary-font-family: "Poppins";
    --e-global-typography-secondary-font-weight: 400;
    --e-global-typography-text-font-family: "Poppins";
    --e-global-typography-text-font-weight: 400;
    --e-global-typography-accent-font-family: "Poppins";
    --e-global-typography-accent-font-weight: 500;
    --e-global-typography-7c5f116-font-family: "Tajawal";
    --e-global-typography-7c5f116-font-size: 20px;
    --e-global-typography-7c5f116-font-weight: 500;
    color: #92999b;
    font-family: "Poppins",Sans-serif;
    font-size: 15px;
    font-weight: 400;
}
body {
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
    line-height: 1.8;
    color: #4a4a4a;
    overflow-wrap: break-word;
    word-wrap: break-word;
}
body {
    --wp--preset--color--black: #000;
    --wp--preset--color--cyan-bluish-gray: #abb8c3;
    --wp--preset--color--white: #fff;
    --wp--preset--color--pale-pink: #f78da7;
    --wp--preset--color--vivid-red: #cf2e2e;
    --wp--preset--color--luminous-vivid-orange: #ff6900;
    --wp--preset--color--luminous-vivid-amber: #fcb900;
    --wp--preset--color--light-green-cyan: #7bdcb5;
    --wp--preset--color--vivid-green-cyan: #00d084;
    --wp--preset--color--pale-cyan-blue: #8ed1fc;
    --wp--preset--color--vivid-cyan-blue: #0693e3;
    --wp--preset--color--vivid-purple: #9b51e0;
    --wp--preset--gradient--vivid-cyan-blue-to-vivid-purple: linear-gradient(135deg,rgba(6,147,227,1) 0%,#9b51e0 100%);
    --wp--preset--gradient--light-green-cyan-to-vivid-green-cyan: linear-gradient(135deg,#7adcb4 0%,#00d082 100%);
    --wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange: linear-gradient(135deg,rgba(252,185,0,1) 0%,rgba(255,105,0,1) 100%);
    --wp--preset--gradient--luminous-vivid-orange-to-vivid-red: linear-gradient(135deg,rgba(255,105,0,1) 0%,#cf2e2e 100%);
    --wp--preset--gradient--very-light-gray-to-cyan-bluish-gray: linear-gradient(135deg,#eee 0%,#a9b8c3 100%);
    --wp--preset--gradient--cool-to-warm-spectrum: linear-gradient(135deg,#4aeadc 0%,#9778d1 20%,#cf2aba 40%,#ee2c82 60%,#fb6962 80%,#fef84c 100%);
    --wp--preset--gradient--blush-light-purple: linear-gradient(135deg,#ffceec 0%,#9896f0 100%);
    --wp--preset--gradient--blush-bordeaux: linear-gradient(135deg,#fecda5 0%,#fe2d2d 50%,#6b003e 100%);
    --wp--preset--gradient--luminous-dusk: linear-gradient(135deg,#ffcb70 0%,#c751c0 50%,#4158d0 100%);
    --wp--preset--gradient--pale-ocean: linear-gradient(135deg,#fff5cb 0%,#b6e3d4 50%,#33a7b5 100%);
    --wp--preset--gradient--electric-grass: linear-gradient(135deg,#caf880 0%,#71ce7e 100%);
    --wp--preset--gradient--midnight: linear-gradient(135deg,#020381 0%,#2874fc 100%);
    --wp--preset--font-size--small: 13px;
    --wp--preset--font-size--medium: 20px;
    --wp--preset--font-size--large: 36px;
    --wp--preset--font-size--x-large: 42px;
    --wp--preset--spacing--20: .44rem;
    --wp--preset--spacing--30: .67rem;
    --wp--preset--spacing--40: 1rem;
    --wp--preset--spacing--50: 1.5rem;
    --wp--preset--spacing--60: 2.25rem;
    --wp--preset--spacing--70: 3.38rem;
    --wp--preset--spacing--80: 5.06rem;
    --wp--preset--shadow--natural: 6px 6px 9px rgba(0,0,0,.2);
    --wp--preset--shadow--deep: 12px 12px 50px rgba(0,0,0,.4);
    --wp--preset--shadow--sharp: 6px 6px 0px rgba(0,0,0,.2);
    --wp--preset--shadow--outlined: 6px 6px 0px -3px rgba(255,255,255,1),6px 6px rgba(0,0,0,1);
    --wp--preset--shadow--crisp: 6px 6px 0px rgba(0,0,0,1);
}
:root {
    --page-title-display: block;
}
:root {
    --wp--preset--font-size--normal: 16px;
    --wp--preset--font-size--huge: 42px;
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
html {
    font-size: 62.5%;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
.elementor *, .elementor :after, .elementor :before {
    box-sizing: border-box;
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.elementor *, .elementor :after, .elementor :before {
    box-sizing: border-box;
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
::selection {
    color: #fff;
    background: #333;
    text-shadow: none;
}